__pycache__
.coverage
.coverage.*
.DS_Store
.env
.mypy_cache
.pytest_cache
.ruff_cache
.venv
.vscode
[Dd]esktop.ini
*.lnk
*.pyc
$RECYCLE.BIN/
coverage.xml
coverage.json
htmlcov/
junit.xml
pytest.xml
pythonenv*
Thumbs.db
uv.lock
*.egg-info/
